<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8"/>
    <title>Add specialty</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>

<form action="/admin/specialty/add" th:object="${specialty}" method="post">
    <table>
        <caption><h2>Обновление списка специальностей</h2></caption>
        <tr>
            <td>Имя:</td>
            <td><input type="text" name="name" th:value="${specialty.name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            <span th:id="${specialtyError}" th:text="${specialtyError}">Error</span>
        </tr>
        <tr>
            <td>Название факультета:</td>
            <td><select name="facultyName">
                <option th:each="faculty : ${facultyList}"
                        th:value="${faculty.name}"
                        th:text="${faculty.name}"></option>
            </select></td>
        </tr>
        <tr>
            <td>Информация:</td>
            <td><input type="text" name="information" th:value="*{information}"/></td>
            <td th:if="${#fields.hasErrors('information')}" th:errors="*{information}">Information Error</td>

        </tr>
        <tr>
            <td>Проходной балл:</td>
            <td><input type="text" name="passingScore" th:value="*{passingScore}"/></td>
            <td th:if="${#fields.hasErrors('passingScore')}" th:errors="*{passingScore}">PassingScore Error</td>

        </tr>
        <tr>
            <td>Первый предмет:</td>
            <td><select name="firstSubjectName">
                <option th:each="subject : ${subjectList}"
                        th:value="${subject.name}"
                        th:text="${subject.name}"></option>
            </select></td>
        </tr>
        <tr>
            <td>Второй предмет:</td>
            <td><select name="secondSubjectName">
                <option th:each="subject : ${subjectList}"
                        th:value="${subject.name}"
                        th:text="${subject.name}"></option>
            </select></td>
        </tr>
        <tr>
            <td>Третий предмет:</td>
            <td><select name="thirdSubjectName">
                <option th:each="subject : ${subjectList}"
                        th:value="${subject.name}"
                        th:text="${subject.name}"></option>
            </select></td>
        </tr>
        <tr>
            <td><input type="submit" value="Обновить" class="btn btn-success"></td>
        </tr>
        <tr>
            <td><input type="hidden" name="id" th:value="${specialty.id}"></td>
        </tr>
        <tr>
            <td><a  href="/admin/specialtyList" class="btn btn-success">
                <em class="fa fa-arrow-circle-o-left"></em>
                &nbsp; Назад
            </a></td>
        </tr>
    </table>
</form>
</body>

</html>