<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Answers</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<table border="1" style="width:300px">
    <caption><h1 th:text="${'Список товетов на вопрос: '+ question.question}"></h1></caption>
    <tr>
        <td>Id ответа</td>
        <td>Ответ</td>
        <td>Количество баллов</td>
        <td>К чему относится?</td>
    </tr>
    <th:block th:each="answer : ${answersList}">
        <tr>
            <td th:text="${answer.id}"/>
            <td th:text="${answer.answerText}"/>
            <td th:text="${answer.score}"/>
            <td th:text="${answer.membership}"/>
            <td><a  th:href="@{'/admin/test/question/'+${question.id}+'/deleteAnswer/' + ${answer.id}}" class="btn btn-success">
                <i class="fa fa-arrow-circle-o-left"></i>
                &nbsp; Удалить
            </a></td>
            <td><a th:href="@{'/admin/test/question/answer/edit/' + ${answer.id}}" class="btn btn-success">
                <i class="fa fa-arrow-circle-o-left"></i>
                &nbsp; Редактировать
            </a></td>
        </tr>
    </th:block>
</table>
<form action="/admin/test/question/answer/add" th:object="${answer}" method="post">
    <table>
        <tr>
            <td>Ответ:</td>
            <td><input type="text" name="answerText"/></td>
            <td th:if="${#fields.hasErrors('answerText')}" th:errors="*{answerText}">AnswerText Error</td>
        </tr>
        <tr>
            <td>Количество баллов:</td>
            <td><input type="text" name="score"/></td>
            <td th:if="${#fields.hasErrors('score')}" th:errors="*{score}">Score Error</td>
        </tr>
        <tr>
            <td>К чему относится?:</td>
            <td><input type="text" name = "membership"/></td>
            <td th:if="${#fields.hasErrors('membership')}" th:errors="*{membership}">Membership Error</td>
        </tr>
        <tr>
            <td><input type="hidden" name="questionId" th:value="${question.id}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Добавить ответ" class="btn btn-success"></td>
        </tr>
    </table>
</form>

<a th:href="@{'/admin/test/'+${question.testId}+'/question'}" class="btn btn-success">
    <i class="fa fa-arrow-circle-o-left"></i>
    &nbsp; Назад к списку вопросов
</a>
</body>

</html>