<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Question</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<form action="/admin/faculty/edit" th:object="${faculty}" method="post">
    <table>
        <caption><h2>Редактирование списка факультетов</h2></caption>
        <tr>
            <td>Название:</td>
            <td><input type="text" name="name" th:value="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            <span th:if="${facultyError}"  th:text="${facultyError}">Error</span>
        </tr>
        <tr>
            <td>Краткая информация:</td>
            <td><input type="text" name="shortInformation" th:value="*{shortInformation}"/></td>
            <td th:if="${#fields.hasErrors('shortInformation')}" th:errors="*{shortInformation}">ShortInformation Error</td>
        </tr>
        <tr>
            <td>Полная информация:</td>
            <td><input type="text" name="information" th:value="*{information}"/></td>
            <td th:if="${#fields.hasErrors('information')}" th:errors="*{information}">Information Error</td>
        </tr>
        <tr>
            <td>Рейтинг факультета:</td>
            <td><input type="text" name="facultyRating" th:value="*{facultyRating}"/></td>
            <td th:if="${#fields.hasErrors('facultyRating')}" th:errors="*{facultyRating}">FacultyRating Error</td>

        </tr>
        <tr>
            <td>Рейтинг общежития:</td>
            <td><input type="text" name="hostelRating" th:value="*{hostelRating}"/></td>
            <td th:if="${#fields.hasErrors('hostelRating')}" th:errors="*{hostelRating}">HostelRating Error</td>

        </tr>
        <tr>
            <td>Рейтинг студсовета:</td>
            <td><input type="text" name="studentAssetRating" th:value="*{studentAssetRating}"/></td>
            <td th:if="${#fields.hasErrors('studentAssetRating')}" th:errors="*{studentAssetRating}">StudentAssetRating Error</td>

        </tr>
        <tr>
            <td>Рейтинг обучающего процесса:</td>
            <td><input type="text" name="studyRating" th:value="*{studyRating}"/></td>
            <td th:if="${#fields.hasErrors('studyRating')}" th:errors="*{studyRating}">StudyRating Error</td>

        </tr>
        <tr>
            <td>Номер корпуса факультета:</td>
            <td><input type="text" name="campus" th:value="*{campus}"/></td>
            <td th:if="${#fields.hasErrors('campus')}" th:errors="*{campus}">Campus Error</td>

        </tr>
        <tr>
            <td><input type="hidden" name="id" th:value="${faculty.id}"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Обновить список" class="btn btn-success">
            </td>
        </tr>
        <tr>
            <td><a  href="/admin/facultyList" class="btn btn-success">
                <em class="fa fa-arrow-circle-o-left"></em>
                &nbsp; Назад
            </a></td>
        </tr>
    </table>

</form>
</body>

</html>