<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Question</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<h1>Редактирование списка факультетов</h1>
<form action="/admin/faculty/edit" method="post">
    <p>
        <label>Название:</label>
        <input type="text" name="name" th:value="${faculty.name}"/>
    </p>
    <p>
        <label>Краткая информация:</label>
        <input type="text" name="shortInformation" th:value="${faculty.shortInformation}"/>
    </p>
    <p>
        <label>Полная информация:</label>
        <input type="text" name="information" th:value="${faculty.information}"/>
    </p>
    <p>
        <label>Рейтинг факультета:</label>
        <input type="text" name="facultyRating" th:value="${faculty.facultyRating}"/>
    </p>
    <p>
        <label>Рейтинг общежития:</label>
        <input type="text" name="hostelRating" th:value="${faculty.hostelRating}"/>
    </p>
    <p>
        <label>Рейтинг студсовета:</label>
        <input type="text" name="studentAssetRating" th:value="${faculty.studentAssetRating}"/>
    </p>
    <p>
        <label>Рейтинг обучающего процесса:</label>
        <input type="text" name="studyRating" th:value="${faculty.studyRating}"/>
    </p>
    <p>
        <label>Номер корпуса факультета:</label>
        <input type="text" name="campus" th:value="${faculty.campus}"/>
    </p>
    <p>
        <input type="hidden" name="id" th:value="${faculty.id}">
    </p>
    <p>
        <input type="submit" value="Обновить список">
    </p>
</form>
</body>

</html>