<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Question</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<h1>Редактирование вопроса</h1>
<form action="/admin/test/question/edit" th:object="${question}" method="post">
    <table>
        <tr><td>Тип вопроса:</td>
            <td><select name = "questionType" >
                <option th:each="question : ${questionTypes}"
                        th:value="${question.value}"
                        th:text="${question.value}"></option>
            </select></td>
        </tr>
        <tr>
            <td>Вопрос:</td>
            <td><input type="text" name="question" th:value="${question.question}"/></td>
            <td th:if="${#fields.hasErrors('question')}" th:errors="*{question}">Question Error</td>
        </tr>
        <tr>
            <p>
                <input type="hidden" name="id" th:value="${question.id}">
            </p>
        </tr>
        <tr>
            <td>
                <input type="hidden" name="testId" th:value="${question.testId}">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Обновить вопрос" class="btn btn-success">
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{'/admin/test/'+${question.testId}+'/question'}"  class="btn btn-success">
                    <i class="fa fa-arrow-circle-o-left"></i>
                    Назад
                </a>
            </td>
        </tr>
    </table>
</form>
</body>

</html>