<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Faculties</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<h1>Список факультетов</h1>
<table border="1" style="width:300px">
    <tr>
        <td>Имя</td>
        <td>Краткая информация</td>
        <td>Полная информация</td>
        <td>Корпус</td>
        <td>Рейтинг факультета</td>
        <td>Рейтинг общежития</td>
        <td>Рейтинг студсовета</td>
        <td>Рейтинг обучения</td>

    </tr>
    <th:block th:each="faculty : ${facultyList}">
        <tr>
            <td th:text="${faculty.name}"/>
            <td th:text="${faculty.shortInformation}"/>
            <td th:text="${faculty.information}"/>
            <td th:text="${faculty.campus}"/>
            <td th:text="${faculty.facultyRating}"/>
            <td th:text="${faculty.hostelRating}"/>
            <td th:text="${faculty.studentAssetRating}"/>
            <td th:text="${faculty.studyRating}"/>
            <td><a  href="/admin/deleteFaculty" th:href="@{'/admin/deleteFaculty/' + ${faculty.id}}" class="btn btn-success">
                <i class="fa fa-arrow-circle-o-left"></i>
                &nbsp; Удалить
            </a></td>
            <td><a th:href="@{'/admin/faculty/edit/' + ${faculty.id}}" class="btn btn-success">
                <i class="fa fa-arrow-circle-o-left"></i>
                &nbsp; Редактировать
            </a></td>
        </tr>
    </th:block>

</table>
<a href="/admin/main" class="btn btn-success">
    <i class="fa fa-arrow-circle-o-left"></i>
    &nbsp; Назад на главый экран
</a>
<a th:href="@{'/admin/faculty/edit'}" class="btn btn-success">
    <i class="fa fa-arrow-circle-o-left"></i>
    &nbsp; Добавить факультет
</a>
</body>

</html>