<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Questions</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<h1 th:text="${'Список вопросов. Тест: ' + test.testType }"/>
<table border="1" style="width:300px">
    <tr>
        <td>Id вопроса</td>
        <td>Тип вопроса</td>
        <td>Вопрос</td>
    </tr>
    <th:block th:each="question : ${questionList}">
        <tr>
            <td th:text="${question.id}"/>
            <td th:text="${question.questionType}"/>
            <td th:text="${question.question}"/>
            <td><a  th:href="@{'/admin/test/'+${test.id}+'/deleteQuestion/' + ${question.id}}" class="btn btn-success">
                <i class="fa fa-arrow-circle-o-left"></i>
                &nbsp; Удалить
            </a></td>
            <td><a th:href="@{'/admin/question/edit/' + ${question.id}}" class="btn btn-success">
                <i class="fa fa-arrow-circle-o-left"></i>
                &nbsp; Редактировать
            </a></td>
            <td><a th:href="@{'/admin/test/question/'+ ${question.id}+'/answer/' }" class="btn btn-success">
                <i class="fa fa-arrow-circle-o-right"></i>
                &nbsp; Ответы
            </a></td>
        </tr>
    </th:block>
</table>
<form action="/admin/test/question/add" method="post">
    <p>
        <label>Тип вопроса:</label>
        <input type="text" name="questionType"/>
    </p>
    <p>
        <label>Вопрос:</label>
        <input type="text" name="question"/>
    </p>
    <p>
        <input type="hidden" name="testId" th:value="${test.id}">
    </p>
    <p>
        <input type="submit" value="Добавить вопрос">
    </p>

</form>

<a th:href="@{/admin/test/}" class="btn btn-success">
    <i class="fa fa-arrow-circle-o-left"></i>
    &nbsp; Назад к списку тестов
</a>
</body>

</html>