<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8">
    <title>Аккаунты</title>
</head>

<body>
<div>
    <table>
        <caption>
            <h2>Список зарегистрированных пользователей</h2>
        </caption>
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Role</th>
        </tr>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.login}"></td>
            <th:block th:each="role : ${user.roles}">
                <td th:text="${role.name}"></td>
            </th:block>
            <td>
                <form action="/admin/users/delete" method="post">
                    <input type="hidden" name="userId" th:value="${user.id}"/>
                    <input type="hidden" name="action" value="delete"/>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <a href="/">Главная</a>
</div>
</body>
</html>